header {
	background: #d6e5ff;
	padding: 5px;
	border: 1px solid #a5c7ff;
	border-radius: 4px;
	box-shadow: 0px 0px 4px #ccc;
}
nav ul{
	margin: 0;
	margin-left: 74%;
	padding: 0 0 0 5px;
	display: inline;
}
 nav ul li {

	display: inline-block;
	background: #c1d9ff;
	color: white;
	padding: 2px 5px;
	list-style-type:none  
}
nav ul li a{
	color: white;
}

section {
	background: white;
	margin: 0;
	margin-left: 10%;
	margin-right: 15%;
	border: 1px solid #a3a3a3;
	border-radius: 8px;
	box-shadow: 0px 0px 4px #ccc;
}

div .col {
	display: inline-block;
	margin: 5px;
	margin-left: 20px;
	width :22%;
}


/* Dropdown Button */
.dropbtn {
    background-color:#0056e0;
    color: white;
    padding: 10px;
    padding-right: 45px;
    padding-left: 45px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    width: 150%

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #5495ff;
	color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #002e7a;
}

aside {
	margin-left: 5px;
	margin-bottom: 5px;
	display: inline-block;
}